.container {
    margin: auto;
    width: 600px;
    border: 5px solid green;
    background-image: url("image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}