.container {
    width: 100px;
    height: 100px;
    background-color: red;

    transition-property: width, background-color;
    transition-duration: 1.5s;
    transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
    transition-delay: 0.5s
}

.container:hover {
    width: 300px;
    background-color: blue;
}
