#color{
    background-color: rgb(0, 0, 0)
}
#green{
    background-color: #00ff00
}
#yellow{
    background-color: #ffff00
}
#black{
    background-color: #0000
}
#blue{
    background-color: #0000ff
}
#pink{
    background-color: #ffc0cb
}