input {
    border-radius: 6px;
    width: 15%;
    height: 10%
}

input[type="text"] {
    background-color: aqua
}

input[type="email"] {
    background-color: green
}

input[type="password"] {
    box-shadow: 5px 5px 7px
}

input[type="submit"] {
    width: 10%;
}

input:hover {
    box-sizing: 10px 10px 8px 
} 


