body {
    font-size: 40px;
}

.box-one {
    background-color: aqua;
    border: yellow;
    padding: 10px;
    margin: 20px;
}

.box-two {
    background-color: green;
    border-color: blue;
    padding: 30px;
    margin: 60px
}