.box {
    width: 100%;
    height: 10vh;
    background-color: rgba(24, 148, 101, 0.558);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 10%

}

button {
    width: 200px;
    height: 50px;
    font-size-adjust: 1;
}

@media (min-width: 800px) {
    .box {
        background-color: Aqua;
        flex-direction: column;
    }
    button {
        width: 150px;
        height: 40px;
    }
}

@media (min-width: 1200px) {
    .box {
        background-color: Seagreen;
    }
}

@media (min-width: 1500px) {
    .box {
        background-color: Yellow;
    }
}