ul{
    list-style-type: disc;
    list-style-position: inside;
    list-style-image: url(image.png)
}
ol{
    list-style-type: square;
    list-style-position: inside;
    list-style-image: url(image.png)
}