body {
    font-size: 5em;
}

.container {
    display: grid;
    grid-template-columns: 200px 100px;
    grid-column-gap: 20px;
}

.item {
    background-color: rgb(14, 131, 82);
    border: 2px solid gray;
}