.parent {
    width: 800px;
    height: 800px;
    background-color: aqua;
}

.child {
    width: 200px;
    height: 200px;
    background-color: yellow;
    border-radius: 50%;
    transition: transform 3s;
    animation-name: move;
    animation-duration: 4s;
}

.child:hover {
    transform: translateY(300%)
}

@keyframes move {
    0% {
        transform: translate(0)
    }
    25%{
        transform: translateX(600px)
    }
    
    
}