input[type="text"],
input[type="password"] {
    border-radius: 8px;
    border: 2px solid gray;
    padding: 8px;
    margin: 5px;
}

button {
    background-color: green;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}